<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="stylesheet" href="css/index.css">
    <!-- <link rel="stylesheet" href="css/default.css"> -->
    <!-- <link rel="stylesheet" href="css/dark.css"> -->
    <link rel="stylesheet" href="css/editable-span.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/share.css">
    <link rel="stylesheet" href="css/print.css" media="print">
    <link rel="stylesheet" href="css/skin.css">
</head>
<body>
    
    <div class="login" v-on:submit.prevent="onLogin">
        <form action="" class="loginForm">    
            <router-link to="/" class="close"></router-link>
            <h2>登录</h2>
            <div class="row">
                <label>邮箱:</label>
                <input type="email" v-model="login.email">
            </div>
            <div class="row">
                <label>密码:</label>
                <input type="password" v-model="login.password">
            </div>
            <div class="lbtns">
                <button type="submit" class="Lsubmit">提交</button>
                <router-link to="/register" class="Lregister">注册</router-link>
            </div>
            
        </form>
    </div>
    
<!--     
    <div id="app" class="page">
      
      
      <router-view></router-view>
    </div> -->



    <script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.7.3/dist/av-min.js"></script>
    <script>
    
        var APP_ID = 'OpuoKPUx8KV0qUbKhty3OpN4-gzGzoHsz';
        var APP_KEY = 'YzA3fLuKBsTkx3o94oFlv6TB';

        AV.init({
        appId: APP_ID,
        appKey: APP_KEY
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/vendors/vuex.js"></script>
    <script src="js/vendors/vue-router.js"></script>
    <script src="js/editable-span.js"></script>
    <script src="js/app-resume.js"></script>
    <script src="js/login.js"></script>
    <script src="js/share.js"></script>
    <script src="js/register.js"></script>
    <script src="js/skin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/1.js"></script>
        
    <!-- <script src="router.js"></script> -->
</body>
</html>